header{


    border-radius: 45px;
  
  
    height: fit-content;
  
    background-color: #526D82;
  }
  .nav{
    align-items: center; 
    justify-content: left;
    display: flex;
    gap: 2%;
  }
  a{
    color: whitesmoke;
    text-decoration: none;
  
  
  }
  .link:hover{
    font-weight: bold;
  
  
  }
  img{
    border-radius: 45px;
    
  }