.container{
  margin-top: 2%;
  display: flex;

  justify-content: center;
  gap:20px;

}
.container2{
 margin-top: 2%;
  display: flex;
  height: 600px;
  justify-content: center;
  gap:20px;


}
/* .container p, .container2 p {
  visibility: hidden;
  font-size: 0px;
}

.card1:hover>p{
  visibility: visible;
font-size: medium;
} */
p{
  visibility: hidden;
  font-size: 0px;
}
.container2, .container{
  text-align: center;

}
.card1, .card2, .card3{
background-color: #71C9CE;
border: 0px solid black ;
width: 200px;
height: 2%;
justify-content: center;
align-items: center;
border-radius: 15px;
}

.card4, .card5{
  height: min-content;
  width: 200px;
  background-color: #71C9CE;
  border: 0px solid black ;
  border-radius: 15px;
  align-items: end;
  justify-content: end;
}
img{
  border-radius: 15px 15px 0px 0px;
}


